.wrapper {
    background-color: #ecf0f4;
    width: 100%;
    height: 100%;
    padding: 0 25px;
    height: calc(100vh - 61px);
    overflow: auto;
    animation: fade-in 0.3s ease-in;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.border-top {
    border-top: 1px solid #e0e0e0;
}

.request-row {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
        background-color: #f0f3fb;
    }
    transition: all ease 0.3s;

    .img-item {
        img {
            width: 40px;
            height: 40px;
        }
    }
}

.employee-avatar {
    border-radius: 50%;
}

.col-item {
    padding: 14px 0;
    color: #000000de;
    font-size: 1.4rem;
    font-weight: 600;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 16px;
}

.request-content {
    padding: 14px 0;
    color: #000000de;
    font-size: 1.4rem;
    font-weight: 600;
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 16px;
}

.border-top {
    border-top: 1px solid #e0e0e0;
}

.action {
    display: flex;
}

.action-btn {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
}

.approve-btn {
    color: greenyellow;
    margin-right: 20px;
}

.refuse-btn {
    color: #ff4081;
}

.edit-btn {
    color: #6777ef;
    margin-right: 20px;
}

.remove-btn {
    color: #ff4081;
}

.flex-3 {
    flex: 3;
}

.flex-5 {
    flex: 5;
}

.flex-10 {
    flex: 10;
}

.popper-wrapper {
    width: 650px;
    background-color: #fff;
    border-radius: 8px;
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 22px 36px;
}

.owner-info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;

    img {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }
    .owner-name {
        font-weight: 700;
        font-size: 1.8rem;
        color: #5b626b;
    }

    .dep-name {
        color: #4caf50;
        padding: 6px;
        border: 1px solid #4caf50;
        border-radius: 10px;
        font-size: 1.2rem;
        font-weight: 600;
    }

    div {
        margin-left: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
    }
}

.close-btn {
    .close-icon {
        font-size: 2.4rem;
    }
    height: 48px;
    width: 48px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
        background-color: #eaeef9;
    }
}

.body {
    background-color: #fff;
    padding: 16px 36px;
    border-radius: 8px;
}

.info-item {
    display: flex;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
    font-size: 1.8rem;
    span {
        width: 150px;
    }
    margin: 32px;
}

.approved {
    color: #4caf50;
}

.rejected {
    color: #ff4081;
}
