.wrapper {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 22px;
}

.info-group {
    margin-bottom: 12px;

    &:last-child {
        margin-bottom: 0;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.label {
    display: block;
    padding: 10px 10px 0 15px;
    color: #5b626b;
    font-weight: 900;
    font-size: 1.8rem;
}

.content {
    padding: 15px;
    font-size: 1.4rem;
    color: #555;
    font-weight: 600;
    li {
        list-style: none;
        margin: 10px 0;
    }
}
